.project_compiler_info_container {    
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

.project_compiler_title {
    margin-bottom: 10px;
    font-size: 28px;
}

.project_compiler_info_body {
    margin-bottom: 10px;
}

.editor-terminal-container {
    display: flex;
    justify-content: center; 
}

.editor-wrapper {
    margin-right: 20px;
}

.code_editor_component {
    /* height: 100px; */
    width: 600px;
}

.terminal_div {
    margin-top: 35px;
    width: 700px;
}