.project_compiler_info_container {    
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

.project_compiler_title {
    margin-bottom: 10px;
    font-size: 28px;
}

.project_compiler_info_body {
    margin-bottom: 10px;
} 