.home_page {
    width: 35%;
    margin: auto;
    padding-left: 120px;
    margin-top: 90px;
    color: rgb(255, 255, 255); 
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: #3e3e3e;
}

.hug {
    margin-top: 0px;
}