.project_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project_container {
  width: 50%; 
  margin: auto;
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
}

.project_container:hover .project_title{
  color: rgb(133, 174, 255);
}

.project_title_lang_container {
  display: flex;
}

#Rust {
  color: rgb(216, 104, 0);
}

.project_language {
  font-size: 18px;
  font-style: italic;
  margin-top: 7px;
  margin-left: 10px;
  color: rgb(14, 116, 225);
}

.project_date {
  font-size: 18px;
  margin-bottom: 5px;
}

.project_description {
  font-size: 16px;
  text-align: left;
}