.base_blog_content {
    /* color: #cccccc; */
    max-width: 900px;
    margin: auto;
    color: rgb(255, 255, 255); 
    padding: 20px;
}


.base_blog_container {
    width: 90%;
    margin: auto;
    max-width: 900px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #3e3e3e;
    font-weight: 300; /* 400 corresponds to 'normal' font weight. 300 might be too thin, depending on the font */
    font-size: 18px; /* Slightly larger text can be easier to read. Adjust as needed */
    line-height: 1.6; /* Line height can significantly affect readability. 1.5 - 2 is often a good range */
    word-spacing: 0.2em; /* Spacing between words. Adjust as needed */
    letter-spacing: 0.02em; /* Increasing spacing between letters can sometimes improve readability */
    color: #F5F5F5; /* This light color should contrast well with the dark background */
    padding: 20px; /* Padding inside the container can make the text more comfortable to read */
}

.persistent_blog_title {
    width: 90%;
    margin: auto;
    max-width: 900px;
    margin-top: 40px;
    color: white;
    text-align: left;
    padding-left: 30px;
    font-size: 48px;
    font-weight: 300;
}