.project_compiler_info_container {    
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}

.project_compiler_title {
    margin-bottom: 10px;
    font-size: 36px; /* size of the font */
    font-weight: 360;
    color: white;
    padding-top: 20px;
    padding-left: 30px; 
    padding-bottom: 20px;
}

.project_compiler_info_body {
    width: 1200px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 30px; 
    padding-right: 20px; 
    color: white; 
    border-radius: 20px;
    background-color: #3e3e3e;
}

.editor-terminal-container {
    display: flex;
    max-height: 450px;
    overflow-x: hidden;
}

.editor-terminal-container::-webkit-scrollbar {
    width: 10px;
    background: #F0F0F0; /* color of the scrollbar */
}

.editor-terminal-container::-webkit-scrollbar-thumb {
    background: #b3b3b3; 
    border-radius: 10px; 
}

.editor-terminal-container::-webkit-scrollbar-thumb:hover {
    background: #858585;
}

/* Firefox */
.editor-terminal-container {
    scrollbar-width: thin; /* "auto" or "thin"  */
    scrollbar-color: #888 #F0F0F0; /* scrollbar color */
}

.editor-wrapper {
    margin-right: 20px;
    border-radius: 20px;
    padding-left: 10px;
    background-color: #3e3e3e;
}

.terminal-wrapper {
    background-color: #3e3e3e;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.terminal_title {
    color: white;
    margin-bottom: 10px;
    font-size: 28px; /* size of the font */
    font-weight: 360;
    margin-top:20px;
}

.editor_title {
    margin-top:20px;
    color: white;
    margin-bottom: 10px;
    font-size: 28px; /* size of the font */
    font-weight: 360;
}

.code_editor_component {
    width: 550px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.terminal_div {
    width: 550px;
}

.nav-link {
  color: rgb(0, 255, 128)
}

.nav-link.active {
  color: lightblue; 
  background-color: #121212;
}

.tab-pane.active {
  color: #ffffff
}
