.project_compiler_info_container {    
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}

.project_compiler_title {
    margin-bottom: 10px;
    font-size: 36px; /* size of the font */
    font-weight: 360;
    color: white;
    padding-top: 20px;
    padding-left: 30px; 
    padding-bottom: 20px;
}

.project_compiler_info_body {
    width: 1200px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 30px; 
    padding-right: 20px; 
    color: white; 
    border-radius: 20px;
    background-color: #3e3e3e;
}

.editor-terminal-container {
    display: flex;
    justify-content: center; 
}

.editor-wrapper {
    margin-right: 20px;
    border-radius: 20px;
    padding-left: 10px;
    /* background-color: #3e3e3e; */
}

.terminal_title {
    color: white;
    margin-bottom: 10px;
    font-size: 28px; /* size of the font */
    font-weight: 360;
    margin-top:20px;
}

.editor_title {
    margin-top:20px;
    color: white;
    margin-bottom: 10px;
    font-size: 28px; /* size of the font */
    font-weight: 360;
}

.code_editor_component {
    /* height: 100px; */
    width: 600px;
}

.terminal_div {
    width: 580px;
}

.gazprea_about {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.gazprea_background {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.gazprea_features {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.gazprea_technical {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.gazprea_instructions{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}