.about_title {

  margin: auto; /* centers the container */
  max-width: 800px; /* same as the .project_container width */
  padding-left: 10px; 
  padding-top: 50px; 
  font-size: 48px; /* size of the font */
  font-weight: 360;
  color: white;
}

.about_subtitle {
  margin: auto; 
  max-width: 800px;  
  font-weight: 300;
  padding-left: 10px; 
  padding-top: 5px; 
  padding-bottom: 10px; 
  font-size: 22px; /* size of the font */
  color: white; /* color of the font, adjust as needed */
}

.about_content_container {
  width: 800px; 
  margin: auto;
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
  color: white;
  background-color: #3e3e3e;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px; 
  transition: transform 0.3s ease;
  font-size: 20px;
  font-weight: 300;
}

.about_site_info a {
    color: #85fdff;
    text-decoration: none;
}

.about_site_info a:hover {
    color: #85fdff;
    text-decoration: underline;
}